#openai==1.3.7
#langchain==0.0.350 
#chromadb==0.4.15 
pymupdf
openai
langchain
chromadb
#pysqlite3-binary
pandas 
numpy
#pypdf
#rapidocr-onnxruntime
langchain-chroma
langchain-openai 
langchain-community
jieba
tiktoken
rank_bm25
openpyxl
streamlit